* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: black;
    scroll-behavior: smooth;
}

.pointer{
    cursor: pointer;
}



/*  * =================== Navbar =================== */

#navbar{
    top: 0;
    bottom: 0;
    width: 300px;
    white-space: nowrap;
    z-index: 9999;
}

.blackNav {
    display: none;
}

/*  * =================== Main Page =================== */

.meal-layer{
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    transform: translatey(100%);
    transition: all .5s;
}

.meal:hover .meal-layer{
    transform: translatey(0%);
    
}


/*  * =================== loader =================== */
/* HTML: <div class="loader"></div> */
.loader {
    width: 90px;
    aspect-ratio: 1;
    display:grid;
    -webkit-mask: conic-gradient(from 15deg,#0000,#000);
    animation: l26 1s infinite steps(12);
  }
  .loader,
  .loader:before,
  .loader:after{
    background:
      radial-gradient(closest-side at 50% 12.5%,
       white 96%,#0000) 50% 0/20% 80% repeat-y,
      radial-gradient(closest-side at 12.5% 50%,
       white 96%,#0000) 0 50%/80% 20% repeat-x;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
  }
  .loader:after {
    transform: rotate(60deg);
  }
  
  @keyframes l26 {
    100% {transform:rotate(1turn)}
  }

  .loading{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

  }
